Package:       image2device
Version:       1.3
Section:       utils
Priority:      optional
Architecture:  all
Maintainer:    Yuriy VG <yuravg@gmail.com>
Homepage:      https://github.com/yuravg/image2device
Description:   The Wrapper script for the 'dd' and 'bmaptool'. This scipt simplify usage 'dd' or
 'bmaptool' (bmap-tools) to copy a image-file to a block device(SD card, Flash drive, etc.).
